<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NetVisor - the shared Big Brother ecosystem{% endblock %}</title>
        {% block stylesheets %} {% include "stylesheets.html.twig" %} {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">

        {% block content %} {% endblock %}

    </body>
</html>
