{% block footer %}
    <footer class="py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12">
                    <div class="copyright text-center text-muted">
                        build with  <i class="ni ni-favourite-28"></i> by<span href="" class="font-weight-bold ml-1"> live smile act create </span>team
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}