{% extends "base.html.twig" %}

{% block stylesheets %} {% include "stylesheets.html.twig" %} {% endblock %}


{% block content %}

    {% include "dashboard/sidenav.html.twig" %}

    <!-- Main content -->
    <div class="main-content">

        {% include "dashboard/topnav.html.twig" %}
        {% include "dashboard/header.html.twig" %}

        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-12 mb-5 mb-xl-0">
                    <div class="card bg-gradient-default shadow">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-light ls-1 mb-1">Problems solved</h6>
                                    <h2 class="text-white mb-0">by you</h2>
                                </div>
                                <div class="col">
                                    <ul class="nav nav-pills justify-content-end">
                                        <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                            <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                                <span class="d-none d-md-block">Month</span>
                                                <span class="d-md-none">M</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                            <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                                <span class="d-none d-md-block">Week</span>
                                                <span class="d-md-none">W</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <!-- Chart wrapper -->
                                <canvas id="chart-sales" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Latest Issues</h3>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Device</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Reports</th>
                                    <th scope="col">Assinged To / status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        1
                                    </th>
                                    <td>
                                        Water Dispenser
                                    </td>
                                    <td>
                                        Main Lobby
                                    </td>
                                    <td>
                                        38
                                    </td>
                                    <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i> no one pending
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        2
                                    </th>
                                    <td>
                                        Water Dispenser
                                    </td>
                                    <td>
                                        Programming Hub
                                    </td>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i> no one pending
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        3
                                    </th>
                                    <td>
                                        Woman Toilets
                                    </td>
                                    <td>
                                        Toilets
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-primary"></i> Alina - working
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        4
                                    </th>
                                    <td>
                                        Air Conditioner
                                    </td>
                                    <td>
                                        Building A
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-primary"></i> Gigel - working
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        5
                                    </th>
                                    <td>
                                        Lights
                                    </td>
                                    <td>
                                        Principal Office
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-success"></i> Alina - done
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% include "footer.html.twig" %}

        </div>
    </div>

    {% include "dashboard/javascripts.html.twig" %}


{% endblock %}