{% extends "base.html.twig" %}

{% block stylesheets %} {% include "stylesheets.html.twig" %} {% endblock %}

{% block content %}

    {% include "dashboard/sidenav.html.twig" %}

    <!-- Main content -->
    <div class="main-content">

        {% include "dashboard/topnav.html.twig" %}
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

        </div>

        <!-- Page content -->
        <div class="container-fluid mt--9">
            <div class="row mt-5">
                <div class="col-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0 d-inline">Users
                                        <i class="fa fa-spinner fa-spin" id="loading"></i>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <!-- Projects table -->
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">On duty</th>
                                </tr>
                                </thead>
                                <tbody id="replaceThis">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% include "footer.html.twig" %}
        </div>
    </div>

    {% include "dashboard/javascripts.html.twig" %}
    <script src="{{ asset('/js/users.js')}}"></script>

{% endblock %}